@media (max-width: 1000px) {
    /* Hide navigation links */
    .nav-links {
        display: none;
    }

    /* Change styles for aligned-pics class */
    .aligned-pics {
        display: grid; 
        grid-template-columns: repeat(1, 1fr);
    }

    .hamburger { 
        top: 2rem;
    }
}