<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/database.css') }}">

</head>
<body>
    <h1>Sales Data</h1>

    <nav class="menu">
        <button class="menu-button">Menu</button>
        <ul class="menu-options">
            <li><a href="/home">Back to Home</a></li>
            <li><a href="/analysis">Analysis</a></li>
            <li><a href="/predictions">Predictions</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="upload">
        <form action="/upload_csv" method="POST" enctype="multipart/form-data" style="margin-bottom: 20px;">
            <label for="file">Upload a new CSV file:</label>
            
            <!-- Custom Button to Trigger File Input -->
            <button type="button" id="custom-upload-button" class="custom-upload-button">Choose File</button>
            
            <!-- Hidden File Input -->
            <input type="file" name="file" id="file" accept=".csv" required style="display: none;">
            
            <!-- Display file name or "No file selected" -->
            <span id="file-name">No file selected</span>
            
            <br>
            
            <!-- Submit Button, Initially Disabled -->
            <button type="submit" id="submit-button" disabled>Upload</button>
        </form>
    </div>
    
    <script src="/static/javascript/upload.js"></script> <!-- Link to the JS file -->

    <h2>Latest Date of Sale: {{ latest_date }}</h2>
    <br>
    <h2>{{rows}} Rows available in the database. </h2>

    <div class="table-container">
        {{ data_table|safe }}
    </div>

    <footer>
        <p>&copy; 2024 Saras Beads & Jewellery</p>
    </footer>

    <script src="{{ url_for('static', filename='java/file.js') }}"></script>
</body>
</html>
