<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hub.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
    <title>Data Analysis Hub</title>

</head>
<body>
    <!-- Header Section -->
    <header>
        <nav>
            <script src="static/javascript/hub/toggle-darkmode.js"></script>
            <div class="dark-mode-toggle">
                <input type="checkbox" id="dark-mode-toggle">
                <label for="dark-mode-toggle"></label>
            </div>
            {% if admin_mode %}
                <div class="user-label admin">Admin</div>
            {% elif mod_mode %}
                <div class="user-label moderator">Moderator</div>
            {% elif viewer_mode %}
                <div class="user-label viewer">Viewer</div>
            {% endif %}


            <ul class = "nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>


            <script src="static/javascript/hub/hamburger_menu.js"></script>
            <button class="hamburger" id="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </button>
    
            <div class="right-menu" id="right-menu">
                <ul>
                    <li><a href="#about">About Me</a></li>
                    <div class="underline2" style="width: 90%;"></div>
                    <li><a href="#hobbies">Hobbies</a></li>
                    <div class="underline2" style="width: 90%;"></div>
                    <li><a href="#cv">Download CV</a></li>
                    <div class="underline2" style="width: 90%;"></div>
                    <li><a href="#education">Education</a></li>
                    <div class="underline2" style="width: 90%;"></div>
                    <li><a href="#projects">Projects</a></li>
                    <div class="underline2" style="width: 90%;"></div>
                    <li><a href="#skills">Skills</a></li>
                    <div class="underline2" style="width: 90%;"></div>
                    <li><a href="#certifications">Certifications</a></li>
                    <div class="underline2" style="width: 90%;"></div>
                    <li><a href="#contact">Contact Me</a></li>
                    <div class="underline2" style="width: 90%;"></div>
                    <li><a href="login.html">Login</a></li>
                    <div class="underline2" style="width: 90%;"></div>
                    <li><a href="addpost.html">Add Post</a></li>
                    <div class="underline2" style="width: 90%;"></div>
                </ul>
            </div>
            <script src="static/javascript/hub/anti-scroll-menu.js"></script>
        </nav>
    </header>
    <section class="footer" id="social-media">
        <a id = "facebook" href="https://www.facebook.com/mo.arouni/" 
        class = "social-media-link" target="_blank">Facebook
        </a>

        <a id = "instagram" href="https://www.instagram.com/mohamad_arouni/" 
        class = "social-media-link" target="_blank">Instagram
        </a>
        <a id = "linkedin" href="https://www.linkedin.com/in/mohamad-arouni-578168293/" 
        class = "social-media-link" target="_blank">Linkedin
        </a>
        <a id = "github" href="https://github.com/MoArouni" 
        class = "social-media-link" target="_blank">Github
        </a>
    </section>

    <!-- About the Platform -->
    <section id = "about"> 
        <div class = "hero-container2">
            <div class ="hero-box">
                <section class="section-box">
                    <h1>About this Platform</h1>
                    <div class="underline"></div>
                    <p>The goal is to help businesses gain insights into their sales, trends, 
                        and customer behaviors through data-driven analytics.</p>
                    <br>
                    <h1>What do we offer:</h1>
                    <br>
                    <div class = "aligned-pics">
                        <p><strong>Tools for Business Insights:</strong> Gain a deeper understanding of your sales, customer behaviors,
                             and market trends with our advanced analytics. Make data-driven decisions that enhance efficiency and drive growth.</p>

                        <p><strong>Role-Based Access Control:</strong> Take full control over who can manage your business data. 
                            Our system allows you to assign roles, determining who can update sales records, modify the database, 
                            and access detailed analytics and insights.</p>

                        <p><strong>Integrated Data Entry:</strong> No need for third-party applications—our platform 
                            includes built-in data entry tools that seamlessly integrate with your business, ensuring a 
                            smooth and secure workflow without external dependencies.</p>

                    </div>
                    <div class = "aligned-pics">
                        <figure class="figure-container"> 
                            <img src="/static/images/data_hub_pic.jpg" alt="data-hub">
                        </figure>
                        <figure class="figure-container"> 
                            <img src="/static/images/RBAC.png" alt="RBAC">
                        </figure>
                        <figure class="figure-container"> 
                            <img src="/static/images/data-entry-form.png" alt="form">
                        </figure>
                    </div>
                </section>
            </div>
        </div>  
    </section>
    <section id="services">
        <div class="hero-container2">
            <div class="hero-box">
                <section class="section-box">
                    <h1>Explore Our Services</h1>
                    <div class="underline"></div>
                    <div class = "aligned-pics">
                        <p><strong>Analysis:</strong> We provide in-depth analysis of your sales, customer behaviors, and trends, 
                            helping you make data-driven decisions to optimize your business performance.</p>
                        <p><strong>Predictions:</strong> Based on historical data, we offer predictive analytics that forecast future sales, customer preferences, and trends.</p>
                        <p><strong>Security:</strong> We prioritize the security of your data. All data is stored in a secure environment 
                            with strict access controls and encryption to ensure your business data remains confidential and protected.</p>
                    </div>
                    <div class = "aligned-pics">
                        <figure class="figure-container"> 
                            <img src="/static/images/analysis.png" alt="data-hub">
                        </figure>
                        <figure class="figure-container"> 
                            <img src="/static/images/predictions.webp" alt="RBAC">
                        </figure>
                        <figure class="figure-container"> 
                            <img src="/static/images/security.jpg" alt="form">
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section id="get-started">
        <div class="hero-container2">
            <div class="hero-box">
                <section class="section-box">
                    <h1>Get access to your own tools</h1>
                    <div class="underline"></div>
                    <div class="aligned-pics">
                        <a href="/getstarted" class="cta-button">Get Started</a>
                        <a href="/redirect" class="cta-button">Login to Your Tools</a>
                        <a href="/features" class="cta-button">Learn More</a>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" style = " margin-top : 10rem;">
        <form action="https://formspree.io/f/mzzebdaq" method="POST">
            <h1 style = "font-size: 3rem; text-align: center;">Contact Me</h1>
            <br> 
            <br>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" required ></textarea>

            <div style="text-align: center;">
                <button class="cta-button" type="submit">Send</button>
            </div>
        </form>
        <script src="js/contact-form.js"></script>
    </section>

    <!-- Footer Section -->
    <footer>
        <p><strong>Email:</strong> <a href="mailto:mohamadarouni5@gmail.com">mohamadarouni5@gmail.com</a></p>
        <p><strong>Phone Number:</strong> +44 7484239767</p>
        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/mohamad-arouni-578168293" target="_blank">Visit my LinkedIn</a></p>
        <br>
        &copy; 2024 Data Analysis Hub
    </footer>
</body>
</html>
