/* Mobile Styles */
@media screen and (max-width: 1000px) {
    body {
        font-size: 1rem;
    }
    h1 { 
        font-size: 1.25rem;
    }

    /* NAVIGATION */
    nav .nav-links { 
        display: none;
    }

    .hamburger { 
        right: 3rem;
    }
    .dark-mode-toggle { 
        left: 2rem;
    }
    /* Removed unnecessary margin-right */
    #hero, #hero2 { 
        margin-right: 2rem;
    }

    /* changing structure from row to column */
    .hero-box .section-box:not(:first-child) {
        display: flex; 
        flex-direction: column;
    }
    .hero-container, .hero-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* Ensure the hero container takes up full width */
    }

    /* Main Section Orders */
    .hero-middle {
        order: 1; /* About section at the top */
        margin-bottom: 0.5rem;
    }
    .hero-right {
        order: 2; /* Mission section below About */
    }
    .hero-left {
        order: 3; /* Left section at the bottom */
    }
    /* Left Section Orders */
    .hero-left .languages {
        order: 1; /* Languages section at the top of left */
    }

    .hero-left .social-media {
        order: 2; /* Social media section below Languages */
    }
    
    .hero-left {
        display: flex;
        flex-direction: column;
    }

    .section-box {
        text-align: center;
        width: 100%;
    }
    section {
        padding: 1rem;
    }

    .grid { 
        grid-template-columns: repeat(1, 1fr); /* Single column layout */
        gap: 1rem; /* Adjusted gap for smaller screens */
    }
}

