<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/sarasbeads/admin.css">
</head>

<nav class="menu-left">
    <button class="menu-button">Menu</button>
    <ul class="menu-options">
        <li><a href="{{ url_for('sarasbeads.home') }}">Back to Home</a></li>
    </ul>
</nav>

<body>
    <div class="login-container">
        <h1 data-value="System Access">Admin Access</h1>
        <script src="/static/javascript/hacker.js"></script> <!-- Link to the JS file -->
        <!-- Form with CSRF token -->
        <form action="{{ url_for('sarasbeads.admin') }}" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Access</button>
        </form>
    </div>
</body>
</html>
