<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Entry Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sarasbeads/forms.css') }}">
    
    
    <script src="/static/javascript/forms/generate_rows.js"></script>
    
</head>
<body>
    <h1>Sales Entry Form</h1>
    <form method="POST" onsubmit="return validateForm()">
        <label>Number of Sales:</label>
        <input type="number" id="num_sales" name="num_sales" min="1" required>
        <button type="button" onclick="generateRows()">Generate Rows</button>
    
        <div id="sales-rows"></div>
        <button type="submit">Submit</button>
    </form>
    
    <script src="/static/javascript/forms/submit_form.js"></script>

    
</body>
</html>
