body {
    font-family: 'Roboto', 'Courier', 'monospace';
    background-color: #FFFFFF; /* White background */
    background-size: 10%; /* Resize the background image */
    background-repeat: no-repeat; /* Prevents repeating */
    background-position: bottom ; /* Centers the image */
    background-attachment: local; /* Keeps the image fixed */
    color: var(--colorTextBody); /* Light text for contrast */
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh; /* Full viewport height */
    position: relative;
    z-index: -1; /* Sends the background image to the back */
}

/* Header Styling */
header {
    width: 100%;
    background-color: var(--colorNav); /* Darker background for header */
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Align vertically centered */
    color: var(--colorNavText); /* Header text color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    position: relative;
    z-index: 1; /* Keeps header above the background */
}

/* Title styling */
h1 {
    font-size: 2.8rem;
    margin: 0;
    font-family: 'Roboto', 'Courier', 'monospace';
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    color: var(--colorHeaderTextAlpha01);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Glowing effect */
}

/* About Section Styling */
h3 {
    margin-top: 30px;
    font-size: 1.8rem;
    text-align: left;
    font-weight: bold;
    color: var(--colorDrawerText);
}

p {
    width: 80%;
    margin: 20px auto;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6;
    color: #000000;
    text-align: left;
}

/* Main Content Section */
main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 50px; /* Space at the bottom */
    gap: 50px; /* Space between sections */
    flex-grow: 1;
}

/* Section for options (database, analysis, predictions) */
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 30px; /* Space between options */
    text-align: center;
    margin-bottom: 50px; /* Space below the options */
}

/* Each option block (database, analysis, predictions) */
.option {
    background-color: var(--colorDrawers); 
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); /* Subtle glow */
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.option:hover {
    transform: translateY(-10px); /* Hover effect */
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.2); /* Stronger glow */
}

.option h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--colorDrawerText);
    margin-bottom: 10px;
    text-align: center;
}

.option p {
    font-size: 1rem;
    line-height: 1.4;
    text-align: left;
    color: var(--colorDrawerText);
}

/* Button Styling */
.button {
    display: inline-block;
    background-color: #40a3ff; 
    color: var(--colorBtnPrimaryText);
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.button:hover {
    background-color: #2392f9; 
    transform: scale(1.05); 
}

/* Footer Section */
footer {
    width: 100%;
    background-color: var(--colorFooter); 
    color: var(--colorFooterText); 
    text-align: right;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    position: relative;
    margin-top: 50px;
    margin-right: 20px;
}

/* Text color for dark background sections */
h2, p {
    font-weight: bold;
    color: var(--colorDrawerText);
}

/* Glow effect for links */
a {
    text-decoration: none;
    color: var(--colorLink); 
    font-weight: bold;
    text-shadow: 0 0 5px #2392f9(255, 204, 0, 0.5); 
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
    color: var(--colorSaleTagText); 
    text-shadow: 0 0 15px r #2392f9(255, 204, 0, 0.8); 
}
